<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">IP List App</h1>
    <p class="lead">IP list application for BlueAlly's coding challenge in Angular and Symfony.</p>
  </div>
</div>
<div class="container">
  <div class="row center">
    <div class="col-sm-6">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title border-bottom border-dark">Subnets</h4>
          <div *ngIf="IPList.length === 0">Loading&hellip; Please wait.</div>
          <div *ngIf="IPList.length > 0">
            <details *ngFor="let item of IPList">
              <summary>{{ item.subnet }}/{{ item.cidr }}</summary>
              <ul>
                <li *ngFor="let ip of item.ips" class="ip-address"
                  [ngClass]="{'font-weight-bold': ip.ip === selectedItem.ip }">
                  <a href="#" (click)="selectedItem = ip; selectedSubnet = item.subnet; $event.preventDefault()" class="text-reset">{{ ip.ip }}</a>
                </li>
              </ul>
            </details>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title border-bottom border-dark">IP: {{ selectedItem.ip || 'None Selected' }}</h4>
          <div *ngIf="selectedItem.ip === false">Please choose an IP address from the list to the left to view more details.</div>
          <div *ngIf="selectedItem.ip !== false">
            Subnet: {{ selectedSubnet }}<br>
            Address Tag: {{ selectedItem.address_tag }}
            <hr>
            <button class="btn btn-secondary" (click)="clearSelectedItem()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
